<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="https://media.licdn.com/dms/image/C5112AQEw1fXuabCTyQ/article-inline_image-shrink_1500_2232/0/1581099611064?e=1704931200&v=beta&t=DR21l-phwLaFlhDy0YLEyYwc9-osSNT3nEXWaf1frN4" />
        </div>
    </div>

</div>