<footer>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <p>Copyright &copy; @DateTime.Now.ToString("y"). All Rights Reserved</p>
        </div>
    </nav>
</footer>