@inject IHttpContextAccessor accessor
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Paradise Hotel</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Room" asp-action="Index">Rooms</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link">About</a>
                    </li>

                    @{
                        if (accessor.HttpContext.Session.GetString("admin") != null)
                        {
                            <li class="dropdown">
                                <button class="btn btn-light dropdown-toggle text-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Các mục quản lý
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLPhong">Quản lý phòng</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLDichVu">Quản lý dịch vụ</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLHoaDon">Quản lý hóa đơn</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLUser">Quản lý khách hàng</a>
                                    </li>
                                    
                                    <li>
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLNhanVien">Quản lý nhân viên</a>

                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLTaiKhoan">Quản lý tài khoản</a>
                                    </li>


                                </ul>
                            </li>
                        }
                        else if(accessor.HttpContext.Session.GetString("nhanvien") != null)
                        {
                            <li class="dropdown">
                                <button class="btn btn-light dropdown-toggle text-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Các mục quản lý
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLPhong">Quản lý phòng</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLDichVu">Quản lý dịch vụ</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLHoaDon">Quản lý hóa đơn</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" asp-controller="Admin" asp-action="QLUser">Quản lý khách hàng</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (accessor.HttpContext.Session.GetString("UserName") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="BookingHistoryOfUser" asp-action="Index">Phòng đã đặt trước</a>
                            </li>
                        }
                    }
                </ul>

                <div class="d-flex justify-content-around">
                    <ul class="navbar-nav me-auto">

                        @{
                            //nếu 1 trong 3 lại tài khoản của đăngn nhập thì hiện Đăng nhập , đăng kí
                            if (accessor.HttpContext.Session.GetString("UserName") == null 
                            && accessor.HttpContext.Session.GetString("admin") == null
                            && accessor.HttpContext.Session.GetString("nhanvien") == null)
                            {

                                <li class="nav-item">
                                    <a class="nav-link" href="/login/index">Đăng nhập</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/signup/index">Đăng kí</a>
                                </li>
                            }
                            //nếu có 1 lại tài khoản bất kì đăng nhập thì đổi lai giao diện
                            else
                            {
                                <li class="nav-item">
                                    <div class="nav-link">@accessor.HttpContext.Session.GetString("UserName")</div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>
