@model TaiKhoan
<link rel="stylesheet" href="~/style/dangnhap.css" />

<div asp-validation-summary="All"></div>
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            Đăng nhập
        </div>
        <div class="title signup">
            Signup Form
        </div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="#" class="login" method="post">
                <div class="field">
                    <input type="text" asp-for="UserName" placeholder="User name" required>
                </div>
                <div class="field">
                    <input type="password" asp-for="Password" placeholder="Password" required>
                </div>
                <div class="pass-link">
                    <a href="#">Forgot password?</a>
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login" >
                </div>
                <div class="signup-link">
                    Chưa có tài khoản? <a asp-controller="Signup" asp-action="Index">Tạo ngay</a>
                </div>
            </form>

           
        </div>
    </div>
</div>

<script>
    const loginText = document.querySelector(".title-text .login");
    const loginForm = document.querySelector("form.login");
    const loginBtn = document.querySelector("label.login");
    const signupBtn = document.querySelector("label.signup");
    const signupLink = document.querySelector("form .signup-link a");
    signupBtn.onclick = (() => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
    });
    loginBtn.onclick = (() => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
    });
    signupLink.onclick = (() => {
        signupBtn.click();
        return false;
    });
</script>

